<style>
  #logIn{
    color:black;
    background-color: #f8eee7
  }
  #button{
    margin-top:10px;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body" id="logIn">
          <h2>Log in for Cashier</h2>
          <%= simple_form_for @user, url: session_path(:user) do |f| %>
            <div class="field">
              <%= f.label :email %><br>
              <%= f.email_field :email, autofocus: true %>
            </div>
          
            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
          
            <div class="actions" id="button">
              <%= f.submit "Log in", class: "btn btn-primary"  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

<div class="col-md-1"></div><div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body" id="logIn">
          <h2>Log in for Admin</h2>
           <%= simple_form_for @admin, url: session_path(:admin) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>
          
            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
          
            <div class="actions" id="button">
              <%= f.submit "Log in", class: "btn btn-primary"  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>