<%= simple_form_for @my_pad do |f| %>
    <%= f.error_notification %>
    <%= f.input :reference_number, :label => "Reference Number", as: "string", required: true %>
    <%= f.input :last_updated, :label => "Last Updated", as: "date", required: true %>
    <%= f.hidden_field :status, :value => true %>
    <%= f.hidden_field :for_repair, :value => false %>
    <%= f.hidden_field :for_updating, :value => false %>
    <%= f.hidden_field :charging, :value => false %>
   
    
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <%= link_to 'Back', :back, class: "btn btn-primary" %>
<% end %>