<div class="container">
	<div class="page-header">
	    <br>
	    <br>
	    <% @my_pad = MyPad.all.order('reference_number ASC')  %>
		<h1 class="text-center">Charging myPads</h1>
		<h3 class = "text-center">Count: <%= if @my_pad.where(charging: true) != nil then @my_pad.where(charging: true).count else "0" end %> </h2>
	</div>
</div>
<div class="container">
    <table class="table">
    <thead class="thead-dark">
    <tr><th>Reference Number</th><th>Action</th></tr>
    <% @my_pad.each do |p| %>
        <tr>
            <% if p.charging == true %>
                <td><%= p.reference_number %></td>
                <td><%= link_to "Finish Charging", charge_my_pads_path(p), data: {confirm: "myPad will not be set to charging. Are you sure?"}, class: "btn btn-primary"%></td>
            <% end %>
        </tr>
    <% end %>
    </table> 
    <%= link_to 'Back', :back, class: "btn btn-primary" %>
</div>