<div class="container">
	<div class="page-header">
	    <br>
	    <br>
		<h1 class="text-center">In House myPads</h1>
		<h3 class = "text-center">Count: <%= if @my_pad.where(status: true) != nil then @my_pad.where(status: true).count else "0" end %></h2>
	</div>
</div>

<div>
    <div class="container">
    <table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Reference Number</th>
        <th>Last Updated</th>
        <th>Action</th>
        <th>Update</th>
        <th>Repair</th>
        <th>Charging</th>
    </tr>

    <% @my_pad.each do |p| %>
        <tr>
            <% if p.status == true %>
                <td><%= p.reference_number %></td>
                <td><%= p.last_updated.strftime("%B %d, %Y")%></td>
                <td><%= link_to "Delete", my_pad_path(p), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %></td>
                <td><%= if p.for_updating == true then "For Updating" else link_to "Update", update_my_pads_path(p), data: {confirm: "myPad will be set to update. Are you sure?"}, class: "btn btn-primary" end %></td>
                <td><%= if p.for_repair == true then "For Repair" else link_to "Repair",repair_my_pads_path(p), data: {confirm: "myPad will be set to repair. Are you sure?"}, class: "btn btn-primary" end  %></td>
                <td><%= if p.charging == true then "Charging" else link_to "Charge", charge_my_pads_path(p), data: {confirm: "myPad will be set to charging. Are you sure?"}, class: "btn btn-primary" end %></td>
           <% end %>
        </tr>
    <% end %>
    </table> 
    <%= link_to "Create New myPad", new_my_pad_path, class: "btn btn-primary" %>
    <br>
    <br>
    <br>
    <br>
</div>
</div>