<div class="container">
	<div class="page-header">
	    <br>
	    <br>
		<h1 class="text-center">Borrowed myPads</h1>
		 <% @my_pad = MyPad.all.order('reference_number ASC')  %>
		<h3 class = "text-center">Count: <%= if @my_pad.where(status: false) != nil then @my_pad.where(status: false).count else "0" end %></h2>
	</div>
</div>


<div class="container">
    <table class="table">
        <thead class="thead-dark">
    <tr><th>Reference Number</th><th>Last Updated</th></tr>
    <% @my_pad.each do |p| %>
        <tr>
            <% if p.status == false %>
                <td><%= p.reference_number %></td>
                <td><%= p.last_updated.strftime("%B %d, %Y") %></td>
            <% else %>
            <% end %>
        </tr>
    <% end %>
    </table> 
     <%= link_to 'Back', :back, class: "btn btn-primary" %>
</div>