<div class="container">
	<div class="page-header">
	    <br>
	    <br>
		<h1 class="text-center">myPads for Repair</h1>
		 <% @my_pad = MyPad.all.order('reference_number ASC')  %>
		<h3 class = "text-center">Count: <%= if @my_pad.where(for_repair: true) != nil then @my_pad.where(for_repair: true).count else "0" end %></h2>
	</div>
</div>
<div class="container">
    <table class="table">
    <thead class="thead-dark">
    <tr><th>Reference Number</th><th>Action</th></tr>
    <% @my_pad.each do |p| %>
        <tr>
            <% if p.for_repair == true %>
                <td><%= p.reference_number %></td>
                <td><%= link_to "Done with Repair", repair_my_pads_path(p), data: {confirm: "myPad will not be set for repair. Are you sure?"}, class: "btn btn-primary"%></td>
            <% end %>
        </tr>
    <% end %>
    </table> 
     <%= link_to 'Back', :back, class: "btn btn-primary" %>
</div>