@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 2em;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 8px;
}

@media (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 16px;
}

.container-fluid {
  width: 100%;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
