<%= simple_form_for @borrow do |f| %>
    <%= f.error_notification %>
    <%= f.input :name, :label => "Full Name", as: "string", required: true %>
    <%= f.input :position, :label => "Position", collection: ['Flight Steward', 'Flight Attendant', 'Admin', 'Trainer'], prompt: "Select a Position", required: true %>
    <%= f.input :id_number, :label => "ID Number", as: "integer", required: true %>
    <%= f.input :flight_number, :label => "Flight Number",as: "string", required: true %>
   
    <%= f.association :my_pad, collection: MyPad.where(status: true, for_repair: false, for_updating: false, charging: false).order('reference_number ASC'), :label => "myPad Reference Number", prompt: "Select a myPad", required: true %>
    <%= f.input :my_pad_expected_return, :label => "Expected myPad Return Date", as: "date", required: true, html5: true %>
    
    <%= f.association :charger, collection: Charger.where(status: true).order('reference_number ASC'), :label => "Charger Reference Number", prompt: "Select a Charger", required: true %>
    <%= f.input :charger_expected_return, :label => "Expected Charger Return Date", as: "date", required: true, html5: true%>

    <%= f.hidden_field :date_borrowed, :value => DateTime.now %>
    <%= f.hidden_field :my_pad_actual_return, :value => nil %>
    <%= f.hidden_field :charger_actual_return, :value => nil %>
    
    <%= f.input :released_by, :label => "Released by:", as: "string", required: true %>
   
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <%= link_to 'Back', :back, class: "btn btn-primary" %>
<% end %>