<div class="container">
	<div class="page-header">
	    <br>
	    <br>
		<h1 class="text-center"> myPad Borrow Entries</h1>
	</div>
	
</div>
    <div class="container-fluid">
    <table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>ID Number</th>
        <th>Flight Number</th>
        <th>myPad Reference Number</th>
        <th>Released by</th>
        <th>Date Borrowed</th>
        <th>Expected Return Date</th>
        <th>Date Returned</th>
        <th></th>
        <th></th>
    </tr>
    <% @borrow.each do |a| %>
        <tr>
            <td><%= a.name %></td>
            <td><%= a.position.to_str %></td>
            <td><%= a.id_number %></td>
            <td><%= a.flight_number %></td>
            <td><%= a.my_pad %></td>
            <td><%= a.released_by %></td>
            <td><%= a.date_borrowed.strftime("%B %d, %Y")  %></td>
            <td><%= a.my_pad_expected_return.strftime("%B %d, %Y")  %></td>
            
            <td><%= if a.my_pad_actual_return == nil then "-" else a.my_pad_actual_return.strftime("%B %d, %Y")  end %></td>
            <td><%= if a.my_pad_actual_return == nil then link_to "Return", returnpad_borrows_path(a), data: {confirm: "myPad will be returned. Are you sure?"}, class: "btn btn-primary" else " " end %></td></td>
        </tr>
    <% end %>
    </table> 
    <%= link_to "Borrow a myPad", new_borrow_path, class: "btn btn-primary" %>
    <br>
    <br>
    </div>
</div>
</div>