<div class="container">
	<div class="page-header">
	    <br>
	    <br>
		<h1 class="text-center"> myPad Borrow Entries</h1>
	</div>
	
</div>
    <div class="container-fluid">
    <table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>ID Number</th>
        <th>Flight Number</th>
        <th>myPad Reference Number</th>
        <th>Released by</th>
        <th>Date Borrowed</th>
        <th>Expected Return Date</th>
        <th>Date Returned</th>
        <th></th>
        <th></th>
    </tr>
    <% @borrow = Borrow.all.order('name ASC') %>
    <% @borrow.each do |a| %>
        <tr>
            <td><%= a.name %></td>
            <td><%= a.position.to_str %></td>
            <td><%= a.id_number %></td>
            <td><%= a.flight_number %></td>
            <td><%= a.my_pad %></td>
            <td><%= a.released_by %></td>
            <td><%= a.date_borrowed.strftime("%B %d, %Y")  %></td>
            <td><%= a.my_pad_expected_return.strftime("%B %d, %Y")  %></td>
            
            <td><%= if a.my_pad_actual_return == nil then "-" else a.my_pad_actual_return.strftime("%B %d, %Y")  end %></td>
            <td><%= link_to "Delete", borrow_path(a), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %></td>
            
        </tr>
    <% end %>
    </table> 
    <%=  if @borrow.size != 0 then link_to "Export to CSV", borrows_path(format: 'csv'), class: "btn btn-primary" end %>
    <br>
    <br>
    <%= if @borrow.size != 0 then link_to "Delete All Entries", purge_borrows_path, data: {confirm: "Are you sure?"}, class: "btn btn-danger" end %>
    <br>
    <br>
    <br>
    </div>
</div>
</div>