<%= simple_form_for @charger do |f| %>
    <%= f.error_notification %>
    <%= f.input :reference_number, :label=> "Reference Number", as: "string", required: true %>
    <%= f.hidden_field :status, :value => true %>
    
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <%= link_to 'Back', :back, class: "btn btn-primary" %>
<% end %>