<div class="container">
	<div class="page-header">
	    <br>
	    <br>
		<h1 class="text-center">In House Chargers</h1>
		<h3 class = "text-center">Count: <%= if @charger.all != nil then (@charger.where(status: true).size - 1) else "0" end %></h2>
	</div>
</div>

<div>
    <div class="container">
    <table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Charger Name</th>
        <th>Action</th>
    </tr>
    <% @charger.each do |p| %>
        <tr>
            <% if p.status == true %>
                <% if p.reference_number != "No Charger" %>
                    <td><%= p.reference_number %></td>
                    <td><%= link_to "Delete", charger_path(p), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %></td>
                <% end %>
            <% end %>
        </tr>
    <% end %>
    </table> 
    <%= link_to "Create New Charger", new_charger_path, class: "btn btn-primary" %>
    <br>
    <br>
    <br>
    <br>
</div>
</div>