<!-- Latest compiled and minified JavaScript -->
<style>
  .nav.navbar-nav li a:hover {
    background-color: #00897b;
  }
  .nav.navbar-nav li a {
    color: white;
  }
  .navbar-nav > li > .dropdown-menu { 
    background-color: #80cbc4; 
  }
</style>


<!-- Actual Navbar Code -->
<div class="nav navbar-light navbar-fixed-top" style="background-color: #80cbc4">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
  			<span class="sr-only">Toggle Navigation</span>
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
			</button>
        <a href="/" class="navbar-brand" style= "color: white">myPad Inventory</a>
        
		</div> 
		
		<p class="navbar-text pull-right" style= "color: white">
            <% if admin_signed_in? %> 
                Logged in as <strong><%= current_admin.email %></strong>.
                <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
            <% elsif user_signed_in? %>
                Logged in as <strong><%= current_user.email %></strong>.
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% end %>
        </p>
        
		<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="nav navbar-nav">
		<% if admin_signed_in? %>
    		<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">myPads<b class="caret"></b></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><%= link_to "View In House myPads", my_pads_path%></a></li>
                    <li><a href="#"><%= link_to "View Borrowed myPads", out_my_pads_path%></a></li>
                    <li><a href="#"><%= link_to "View Charging myPads", chargepage_my_pads_path %></a></li>
                    <li><a href="#"><%= link_to "View myPads for Updating", updatepage_my_pads_path %></a></li>
                    <li><a href="#"><%= link_to "View myPads for Repair", repairpage_my_pads_path %></a></li>
                    <li><a href="#"><%= link_to "Create a new myPad", new_my_pad_path %></a></li>
                </ul>
            </li>
        
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Chargers<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><%= link_to "Create a new Charger", new_charger_path %></a></li>
                    <li><a href="#"><%= link_to "View Chargers", chargers_path%></a></li>
                    <li><a href="#"><%= link_to "View Borrowed Chargers", out_chargers_path%></a></li>
                </ul>
            </li>
        
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" font-color='#80cbc4'>Borrows<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><%= link_to "View myPad Borrows", mypadentries_borrows_path%></a></li>
                    <li><a href="#"><%= link_to "View Charger Borrows", chargerentries_borrows_path%></a></li>
                </ul>
            </li>
            
        <% elsif user_signed_in? %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">myPads<b class="caret"></b></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><%= link_to "View In House myPads", my_pads_path%></a></li>
                    <li><a href="#"><%= link_to "View Borrowed myPads", out_my_pads_path%></a></li>
                    <li><a href="#"><%= link_to "View Charging myPads", chargepage_my_pads_path %></a></li>
                    <li><a href="#"><%= link_to "View myPads for Updating", updatepage_my_pads_path %></a></li>
                    <li><a href="#"><%= link_to "View myPads for Repair", repairpage_my_pads_path %></a></li>
                    <li><a href="#"><%= link_to "Create a new myPad", new_my_pad_path %></a></li>
                </ul>
            </li>
        
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Chargers<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><%= link_to "Create a new Charger", new_charger_path %></a></li>
                    <li><a href="#"><%= link_to "View In House Chargers", chargers_path%></a></li>
                    <li><a href="#"><%= link_to "View Borrowed Chargers", out_chargers_path%></a></li>
                </ul>
            </li>
         
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Borrows<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><%= link_to "Borrow a myPad", new_borrow_path %></a></li>
                    <li><a href="#"><%= link_to "View myPad Borrows", borrows_path%></a></li>
                    <li><a href="#"><%= link_to "View Charger Borrows", chargerborrows_borrows_path%></a></li>
                </ul>
            </li>
        <% else %>
            <li><a href="#" style="padding:0px"><%= link_to "Log In As Admin", new_admin_session_path %></a></li>
            <li><a href="#" style="padding:0px"><%= link_to "Log In As User", new_user_session_path %></a></li>
        <% end %>
        </ul> 
		</div>
	</div>
</div>